
/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body  {
  font-family: 'Varela Round', sans-serif;
  line-height: 1.7;
  display: inline;
  margin: 0px;
}

.page-container {
  padding: 0px 40px 0px 40px;
}

/* 
----------------------
HEADER NAV
---------------------- 
*/

header {
  /* background: url("../images/hero_background.jpg"); */
  /* background-size: cover; */
  font-size: 1em;
}

header img {
  width: 8em;
  padding-left: 2.8em;
}

.logo {
  float: left;
  position: relative;
  padding: 1.5em;
  margin: 0 auto; 
  display: inline-block;
}

header nav {
  background-image: url(images/DJP_logo.png);
  text-align: right;
  margin: 0 auto;
  padding: 0px;
  background: rgba(255,255,255,1);
}

header ul   {
  display: inline-block;
  padding: 3em 2.8em 2.8em 0;
  margin: 0 auto;
  height: 1.4em;
  text-align: center;
  color: #323232;
  text-decoration: none;
}

h2 {
  margin-top: 0;
}


header a {
  color: #323232;
  text-decoration: none;
}

header li.non-active-link  {
  color: #C2C2C2;
}

nav a:hover {
text-decoration: underline;
}

nav a:active {
color: #767676;
}

/* 
----------------------
HERO BACKGROUND IMAGE
---------------------- 
*/

img.hero{
  margin: 0 0 20px 0;
}

.hero-div {
  background-size: cover;
  background: url("../images/hero_background.png");
  height: 18em;
  margin-bottom: 5em;
}

.hero-div h1 {
  font-size: 30px;
  text-align: center;
  color: #323232;
  margin: 0 auto;
  position: absolute;
  top: 7em;
  left: 2.8em;
  background: white;
  padding: 20px 20px 20px 20px;
}

/* 
----------------------
PORTFOLIO
---------------------- 
*/

.small  {
  font-size: 14px;
  color: #DDDFE0;
  font-weight: normal;
}

div.job {
  /* padding: 0 30px 0 30px; */
  float: right;
  width: 45%;
  margin: 0 auto;
}

.portfolio-list {
  margin: 0;
  padding: 0;
}

.portfolio-ss {
  display: inline;
  width: 50%;
/*  padding-left: 20px; */
}

.portfolio-mobile {
  display: inline;
  width: 300px;
  margin-left: 10%;
}

.portfolio-item  {
  display: block;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 30px 10px 30px;
}

li {
  display: inline;
  padding: 0px 20px 0px 0px;
}


hr {
  border-color: #DBE3E8;
  border-style: solid;
  margin: 50px 0 50px 0;
  display: block;
  width: 100%;
  align: center;
}


/* -------- */
/* ABOUT ME */
/* -------- */

.profile-picture  {
  width: 30%;
  display: inline;
}

.aboutme {
  padding: 0 30px 30px 30px ;
  float: right;
  width: 55%;
  margin: 0 auto;
  margin-bottom: 60px;
}

ul.about {
padding-bottom: 1em;
margin: 0 auto;
max-width: 1200px;
}


/* 
  .footer-copyright
{
  text-align: left;
  float: left;
  color: #737373;
  margin: -10px;
  padding: -10px;
}
*/

/* ---------- */
/* CONTACT ME */
/* ---------- */

.emailme  {
  max-width: 600px;
  width: 90%;
  margin: 0 auto;
  display: block;
  padding: 40px;
  float: center;
  text-align: center;
  border: 1px solid #C2C2C2;
  z-index: 1;
}

.emailme h2 {
  padding-bottom: 20px;
  margin-top: -10px;
  text-align: center;
}

input {
  width: 400px;
  height: 30px;
  margin: 0 auto;
  float: center;
  display: block;
  text-align: center;
  font-size: 16px;

}

.message[placeholder] {
  font-color: red;
  text-align: top;
  padding: 10px;
  width: 400px;
  height: 100px;
  border: 1px solid #d9d9d9;
  font-size: 16px;
  text-align: center;
  resize: none;
  margin-bottom: 20px;
}

input.submit  {
  vertical-align: center;
  margin-left: 10px;
  width: 410px;
}

button  {
  width: 400px;
  height: 40px;
  margin: 0 auto;
  margin: 10px 10px 10px 20px;
  background-color: #449BF7;
  margin: 0 auto;
  vertical-align: center;
  border: none;
}

input.send {
  width: 400px;
  height: 40px;
  margin: 0 auto;
  margin: 10px 10px 10px 20px;
  background-color: #449BF7;
  margin: 0 auto;
  vertical-align: center;
  border: none;
}

input[type=submit]  {
  color: white;
  font-size: 16px;
  text-transform: uppercase;
}

button span {
  color: white;
  font-size: 16px;
}

svg.airplane  {
  padding: 40px 0px 0 0px;
  width: auto;
  height: auto;
}

/* 
-------------- 
    FOOTER 
-------------- 
*/

footer  {
  background-color: #323232;
  padding: 80px 50px 80px 50px;
  margin-top: 5em;
}

.footer-icons path {
  width: 36px;
  fill: #737373;
}

.soc {
  display: block;
  text-align: center;
}

footer svg {
  display: inline;
  text-align: center;
  margin: 0px 10px 0px 10px;
}

footer ul {
  -webkit-padding-start: 0px;
}

/* 
----------------------
FOR SMALLER SCEENS
---------------------- 
*/

@media (max-width: 960px) {

    .logo {
      padding: 10px;
      margin-bottom: -5px;
    }

    .hero-div h1 {
    top: auto;
    left: auto;
    padding: 0 0 10px 0;
    text-align: center;
    position: static;
    }

    header ul {
      padding: 2em 1em 0em 0em;
    }

    div.job {
      width: 80%;
      display: block;
      text-align: center;
      float: none;
    }

    h1  {
      font-size: 22px;
      text-align: center;
    }

    .portfolio-ss, .portfolio-mobile {
    display: block;
    width: 90%;
    margin: 0 auto;
    }

    .portfolio-mobile {
      width: 300px;
      margin: 0px auto;
    }

    .portfolio-item  {
      display: block;
      max-width: 1200px;
      margin: 0 auto;
      padding: 20px;
      overflow: auto;
    }

  /*  ul li {
      max-width: 80%;
    }*/

    .profile-picture {
      display: block;
      width: 50%;
      vertical-align: center;
      margin: 0 auto;
    }

    .about {
      padding: 20px;
    }

    .aboutme {
      float: none;
      margin-bottom: 30px;
      width: 100%;
      padding: 0px;
      display: inline-block;
      text-align: center;
    }

    footer ul li {
      padding: 5px;
    }



}

