/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.alignright {
	float: right;
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
	float: left;
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

.center {
  display: block;
  margin: 0 auto;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  color: #000;
  font-size: 12px;
  line-height: 1.4;
  font-family: 'Varela Round', sans-serif;
  background-color: #323232;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

button {
  cursor:pointer;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
/*.container {
	width: 80%;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}*/

.game-name {
  color: rgba(255,255,255,1);
/*  left: 10%;
  top: 5%;*/
  padding: 40px 0 40px 0px;
  font-size: 30px;
  display: table;
  margin: 0 auto;
}


#game-container {
  width: 1100px;
  height: 600px;
/*  top: 15%;
  left: 10%;*/
  position: relative;
  margin: 0 auto;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  background-image: url("../images/game-bg.png");
  z-index: 10;
/*  background-color: rgba(0,0,0,.5);*/
}

.popover-bg {
  background-color: rgba(0,0,0,.7);
  width: 1100px;
  height: 600px;
/*  top: 15%;
  left: 10%;*/
  position: relative;
  margin: 0 auto;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  z-index: 11;
}

.cloud-image {
  /*background-image: url("../images/cloud.png");*/
  position: absolute;
  top: 10px;
  z-index: 3;
  opacity: .6;
}

 .cloud-image2 {
  /*background-image: url("../images/cloud.png");*/
  position: absolute;
  top: 160px;
  z-index: -3;
  opacity: .6;
}

.mountain-image {
  top: 92px;
  left: 10px;
  position: absolute;
  z-index: -1;
}

.mountain-image2 {
  top: 169px;
  left: 650px;
  position: absolute;
  z-index: -10;
  overflow: hidden;
  width:400px; /* you can use % */
  height: auto;
}

.corn-field {
  top: 146px;
  left: 935px;
  position: absolute;
  z-index: 6;
  overflow: hidden;
}

.trees {
  top: 74px;
  left: 0px;
  position: absolute;
  z-index: 10;
  overflow: hidden;
}

.ground-menu {
  background-color: rgba(0,0,0,.4);
  border-radius: 2px;
  background-blend-mode: soft-light;
  height: 50px;
  width: 530px;
  position: absolute;
  padding: 12px;
}

.link {
  text-decoration: none;
  color: white;
  font-weight: bolder;
}

#entry img {
  display: block;
  margin: 0 auto;
}

/******************************************
/* STYLES
/*******************************************/

#entry h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}

#death h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}

#entry, #death {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  margin: 0 auto;
  z-index: 25;
}

#death {
  display: none;
}

#hero-name {
  color: rgba(0,0,0,.7);
  font-size: 20px;
  background: rgba(255,255,255,.85);
  border: none;
  border-radius: 2px;
  padding: 0px 30px;
  display: inline-block;
  width: 100%;
  margin-right: 1%;
  height: 50px;
  vertical-align: middle;
}

#submit-btn {
  display: none;
}

/******************************************
/* HERO UI
/*******************************************/

#hero-menu {
  top: 430px;
  left: 15px;
  margin: 0 auto;
}

#hero-stats {
  top: 375px;
  left: 15px;
  padding: 12px;
}

.ch-name {
  display: inline;
}

.bold-stat {
  font-weight: bolder;
}

.ch-skillpoints {
  background-color: rgba(74,144,226,.8);
  display: inline;
  float: right;
  padding: 4px;
  margin-top: -4px;
  margin-right: 12px;
  min-height: 33px;
  min-width: 14px;
}

.ch-hitpoints {
  background-color: rgba(126,191,54,.8);
  display: inline;
  float: right;
  padding: 4px;
  margin-top: -4px;
  min-height: 20px;
}

#hero-ui {
  top: 177px;
  left: 200px;
  position: absolute;
  z-index: 10;
}

.hero-stats {
  top: 18px;
  left: 15px;
  width: auto;
  min-width: 160px;
  height: 300px;
  display: none;
  position: absolute;
  z-index: 20;
  background-color: rgba(0,0,0,.4);
  border-radius: 5px;
  background-blend-mode: soft-light;
  padding: 10px;
  font-size: 14px;
  color: rgba(255,255,255,.7);
}

.statnum {
  text-align: right;
  font-size: 20px;
  color: rgba(255,255,255,1);
}

.enemy-stats {
  top: 18px;
  left: 900px;
  width: auto;
  height: 300px;
  display: none;
  position: absolute;
  z-index: 20;
  background-color: rgba(0,0,0,.4);
  border-radius: 5px;
  background-blend-mode: soft-light;
  padding: 10px;
  font-size: 14px;
  color: rgba(255,255,255,.7);
}



/******************************************
/* ENEMY UI
/*******************************************/

#enemyone {
  top: 375px;
  left: 555px;
}

#enemy-ui-one {
  top: 178px;
  left: 723px;
  position: absolute;
  z-index: 10;
}

#enemytwo {
  top: 430px;
  left: 555px;
  display: none;
}

#enemythree {
  top: 485px;
  left: 555px;
  display: none;
}

#enemyfour {
  top: 540px;
  left: 555px;
  display: none;
}

#mountainGiant {
  margin-top: -110px;
  z-index: 30;
}

/******************************************
/* MENU
/*******************************************/

.menu {
  margin: 0 auto;
  padding: 0 50px 0 50px;
  display: inline;
}

/******************************************
/* FIGHT MENU
/*******************************************/

div #fight-menu {
  height: 165px;
  top: 430px;
  left: 15px;
  display: absolute;
  width: auto;
}

div #skills-menu {
  height: 165px;
  top: 430px;
  left: 255px;
  display: absolute;
  width: 290px;
  overflow: scroll;
  display: none;
}

.skill-button {
  border-radius: 2px;
/*  border: 1px solid rgba(152, 172, 195);*/
  padding: 5px;
  background-color: rgba(74,144,226,.8);
  text-decoration: none;
  color: white;
  cursor:pointer;
  margin-bottom: 5px;
}

.skills-desc {
  font-size: 14px;
}

.fight-button {
  width: 210px;
  height: 44px;
  border-radius: 5px;
  border: none;
  color: white;
  font-family: 'Varela Round', sans-serif;
  font-size: 18px;
}

.attack-f {
  background-color: rgba(126,191,54,1);
  margin-bottom: 5px;
  display: block;
}

.skill-f {
  background-color: rgba(74,144,226,1);
  margin-bottom: 5px;
  display: block;
}

.item-f {
  background-color: rgba(245,166,35,1);
  display: block;
}

.turnoffbuttons {
  opacity: .5;
  cursor: default;
}

.game-alerts {
  text-align: center;
  font-size: 30px;
  position: inherit;
  top: 30px;
  z-index: 20;
  margin-bottom: 40px;
}

.alert-button {
  font-size: 24px;
  position: inherit;

  z-index: 25;
  background-color: rgba(255,255,255,.1);
  width: auto;
  height: 50px;
  border: 1px solid rgba(255,255,255,.8);
  margin: 0 auto;
  color: white;
  display: none;
}

.nextEnemy {
  font-size: 24px;
  text-align: center;
  z-index: 25;
  background-color: rgba(255,255,255,.1);
  width: auto;
  height: 50px;
  border: 1px solid rgba(255,255,255,.8);
  margin: 0 auto;
  color: white;
  display: none;
}

.arrow-image {
  float: right;
  padding: 2px 2px 0 0;
}

#keeneye {
  display: inherit;
}

/******************************************
/* POPOVER
/*******************************************/

#popover {
  background-color: rgba(50,50,50,1);
  width: 1100px;
  height: 600px;
  z-index: 25;
  position: absolute;
  top: 0px;
}

.reload {
  font-size: 24px;
  z-index: 25;
  background-color: rgba(255,255,255,.1);
  padding: 10px;
  border: 1px solid rgba(255,255,255,.8);
  border-radius: 5px;
  margin: 0 auto;
  color: white;
}

/******************************************
/* ATTACKING
/*******************************************/

.movetofront {
  z-index: 10000;
}

    /* HERO ANIMATION */
@-webkit-keyframes hero-attack {
    0%   {}
    10%  {transform: translateX(-30px);}
    25% {transform: translateX(440px);}
    100% {transform: translateX(0px);}
}

@keyframes hero-attack {
    0%   {}
    10%  {transform: translateX(-30px);}
    25% {transform: translateX(440px);}
    100% {transform: translateX(0px);}
}

@keyframes hero-dodge {
    0%   {}
    15%  {transform: translateX(0px); }
    30%  {transform: translateX(-80px);}
    50%  {transform: translateX(-80px);}
    100% {}
}

@-webkit-keyframes hero-dodge {
    0%   {}
    15%  { transform: translateX(0px); }
    30%  {transform: translateX(-80px);}
    50%  {transform: translateX(-80px);}
    100% {}
}
    /* ENEMY ANIMATION */
@-webkit-keyframes enemy-attacking {
    0%   {transform: translateX(20px);}
    10%  {transform: translateX(0px);}
    25% {transform: translateX(-440px);}
    100% {transform: translateX(0px);}
}

@keyframes enemy-attacking {
    0%   {transform: translateX(20px);}
    10%  {transform: translateX(0px);}
    25% {transform: translateX(-440px);}
    100% {transform: translateX(0px);}
}

@keyframes enemy-dodge {
    0%   {}
    15%  {transform: translateX(0px);}
    30%  {transform: translateX(65px);}
    50%  {transform: translateX(65px);}
    100% {}
}

@-webkit-keyframes enemy-dodge {
    0%   {}
    15%  {transform: translateX(0px);}
    30%  {transform: translateX(65px);}
    50%  {transform: translateX(65px);}
    100% {}
}

.hero-attacking {
    -webkit-animation: hero-attack 1.2s;
    animation: hero-attack 1.2s;
}

.hero-dodge {
    -webkit-animation: hero-dodge 1.2s;
    animation: hero-dodge 1.2s;
}

.enemy-attacking {
    -webkit-animation: enemy-attacking 1.2s;
    animation: enemy-attacking 1.2s;
}

.enemy-dodge {
    -webkit-animation: enemy-dodge 1.2s;
    animation: enemy-dodge 1.2s;
}

.enemies {
  display: inherit;
}