body	{
	/*font-family: 'Varela Round', sans-serif;*/
	font-family: 'Open Sans', sans-serif;
}

header	{
	background: black;
	width: 100%;

}


h1	{
	font-size: 48px;
	color: yellow;
	padding: 20px 0 0 20px;
	margin: 0;
}

nav	{
	color: white;
	padding: 20px;
	text-align: right;
}

.navlink	{
	display: inline;
	padding: 30px 0 0 20px;
	font-size: 24px;
}

.fatnav	{
	font-weight: bolder;
}

hr {
	margin: 0;
	background-color: yellow;
	height: 5px;
}

.headline	{
	background-color: #f1f1f1;
	text-align: center;
	padding: 10px 0 10px 0;
	font-style: italic;
	color: black;
}

strike	{
	color: c0c0c0;
}

u {
color: yellow;
text-decoration: underline;
}
span {
	color: black;
	text-decoration: none;
}
.hero {
	background-image: url("images/matchmaker.jpg");
	background-position: cover;
	height: 564px;
	padding: 50px;
}
.hero-image{
	width: 100%;
}
.sub-hero{
	background-color: rgba(255,255,255,.7);
	float: right;
	padding: 20px;
	width: 25%;
}
h3 {
	color: black;
	font-size: 24px;

}
.hero-text {
	font-weight: 600;
	line-height: 28px;

}
.hero-button {
	background-color: yellow;
	text-align: center;
	padding: 10px 20px 10px 20px;
	font-weight: 600;
	font-size: 20px;
	opacity: 1 !important;
	margin: 0 auto;
	width: 100%;
	display: block;
	border-radius: 5px;

}

aside	{
	width: 30%;
	display: inline-block;
	padding: 1%;
}

.filler	{

}

.verticalline {
	width: 1px;
	height: 230px;
	background-color: #f1f1f1;
	display: inline-block;
	margin: 0 5px 0 5px;
}

.cta	{
padding: 10px 20px 40px 20px;
}

.cta-heading	{
	font-size: 24px;
	font-weight: 600;
}

.cta-text	{
	line-height: 28px;
}

.cta-button	{
	display: block;
	margin: 0 auto;
	text-align: center;
	padding: 10px 20px 10px 20px;
	margin-top: 40px;
	width: 80%;
	font-size: 24px;
	font-weight: 800;
	border-radius: 5px;

}

footer {
	background-color: black;
	color: white;
	padding: 20px;
}
