/*
Project Name: Relaxr
Client: Relaxr
Author: Dan Pitrowiski
Developer @GA in SF
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 12px;
    line-height: 1.4;
}

/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#index-container {
  width: 100%;
  margin: 0 auto;
  height: 100%;
  background: url(../images/header_bg.jpg) fixed;
  background-size: cover;
}

.header-landingpage {
  height: 700px;
}

.header {
  padding: 200px 100px 150px 100px;
  text-align: center;

}

.footerlogo  {
  font-size: 36px;
  font-weight: 800;
  font-style: normal;
  color: #f9e42e;
  margin: 10px;
  height: 100px;
}

.logo  {
  position: absolute;
  left: 3%;
  font-size: 36px;
}

.herosubheadline  {
  font-size: 48px;
  font-weight: 600;
}

button {
  /* Extra bold, 14px. 5px border radius */
  font-size: 28px;
  font-weight: 600;
  border: 5px solid #62AF16;
  background-color: #76CD1E;
  padding: 10px 20px 10px 20px;
}

h3  {
  font-size: 40px;
  font-weight: 600;
  color: #394551;
  margin: 0;
}

p, li  {
  color: #394551;
  font-size: 26px;
  font-weight: 300;
  margin: 0 auto;
  line-height: 2;

}

li {
  list-style-type: circle;
}

.benefits {
  padding: 0px 250px 50px 250px;
  background-color: rgba(255,255,255,.55);
  color: #394551;
  margin-left: auto;
  margin-right: auto;

}

 .benefiller {
  color: #394551;
  padding: 80px 0 20px 0;
 }

  .references {
  padding: 100px 250px 100px 250px;
  background-image: url(../images/testimonial_bg.jpg);
  background-size: cover;
  color: white;
  margin-left: auto;
  margin-right: auto;
 }

 .references p {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: white;
 }

 .getitnow button {
  color: white;
 }

 .ref-name {
  font-weight: bold;
  color: white;
 }

/******************************************
/* SIGN UP CTA
/*******************************************/

 .signup {
  background-color: #f9e42e;
  text-align: center;
  padding: 20px 0 20px 0;
  width: 100%;
  display: block;
  clear: both;
 }

 .signup button {
  border: 5px solid #033048;
  background-color: #033048;
  margin: 10px 40px 10px 40px;
  font-size: 24px;
  font-weight: 800;
  color: white;
 }

 .signupcontent {
  font-size: 28px;
  font-weight: 600;
 }

/******************************************
/* FOOTER
/*******************************************/

footer {
  background-color: #121212;
  color: white;
  padding: 20px;
  text-align: center;
  width: 100%;
  clear: both;
}

footer p {
  font-size: 18px;
  font-weight: 600;
  color: white;
}

.social {
  display: block;
  padding: 10px 0 60px 0;
}

.socialbuttons {
  display: inline;
  margin: 10px;
}


/******************************************
/* BLOG
/*******************************************/

#blog-container {
  width: 100%;
  margin: 0 auto;
  height: 100%;
  background-color: rgb(246,246,246);
}

.content-body {
    max-width: 1000px;
    margin: 0 auto;
}

.nav {
 float: right;
}

.navlinks {
  padding-left: 50px;
  display: inline-block;
  text-align: right;
  margin: 0 auto;
}

.navlinks p {
  color: white;
}

.navlogo {
  float: left;
  font-size: 48px;
  margin: 0;
}

.blogheader {
/*  height: 100px;*/
  background-color: #033048;
  display: block;
  padding: 20px 50px 20px 50px;
/*  overflow: auto;*/
}

.blogcontent  {
  line-height: 150%;
  font-size: 20px;
}

.mainbody {
  width: 70%;
  padding: 0 40px 40px 40px;
  float: left;
  font: 20px;
  line-height: 1.2;
  background-color: #fff;
  border: 1px solid #EAEDF0;
}

.mainbody h2  {
  margin: 0;
  color: #121212;
  margin: 40px 0 40px 0; 
}

a:link {

  color: blue;
  text-decoration: none;
}

.navblog {
  position: absolute;
  right: 3%;
  margin-top: 24px;
  opacity: 50%;
}

.bloglinkcolor {
  color: white;
  font-size: 48px;
}

.indexnav-blog {
  color: white;
  font-size: 36px;
  opacity: 50%;
}

.mainbody p {
    margin: 40px 0 40px 0;
}

.mainbody img {
  width: 100%;
}

.bloglink {
  font-size: 20px;
  clear: both;
  padding: 20px;
}

.alignright {
  text-align: -webkit-right;
  text-align: right;
  display: block;
  padding-bottom: 40px;
}

.blogaside {
  width: 30%;
  display: inline-block;
  float: right;
  padding: 40px 40px 40px 40px;

}

.blogaside img {
  width: 100%;
}

.blogaside-categories {
  line-height: 28px;
  font-size: 12px;
}

.blogaside h3 {
  font-size: 30px;
}

.category {
  line-height: 36px;
  font-size: 24px;
}

.addplace {
  text-align: center;
}

.blogheadline {
  font-size: 36px;
  font-weight: 600;
}

.mainnbodylink  {
  right: 2%;
  text-align: right;
  margin: 20px 0 40px 0;
}

.dropped-cap  {
  font-size: 100px;
  font-weight: 600;
  float: left;
  margin: 20px 10px 20px 0;
}

.aboutrelaxr  {
  padding-top: 20px;
}

hr {
  clear: both;
  display: block;
  margin: 40px 0 40px 0;
  height: 1px;
  border: 0;
  background-color: #EAEDF0;
  border-color: #EAEDF0;
  color: #EAEDF0;
}

/*
PSEUDO EFFECTS
*/

a:hover {
    text-decoration: underline;
}
